.header {
  &__nav {
    color: #fff;
    height: 52px;
    background: var(--0-a-4-ecb, #0a4ecb);
    width: 100vw;

    &_items {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_catalog {
      }
      &_catalogNav {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0 50px;

          li {
            a {
              font-weight: 500;
              font-size: 15px;
              display: inline-flex;
              align-items: center;
              padding: 0 3px;
              height: 52px;
            }

            &:hover {
              background-color: #4788ff;
            }
          }
        }
      }
      &_sale {
        a {
          display: flex;
          align-items: center;
          gap: 6px;
          padding: 0 3px;
          height: 52px;
          font-weight: 500;
          font-size: 15px;
          color: #fffa2f;
          SVG {
            width: 16px;
            height: 16px;
            fill: #0a4ecb;
          }

          &:hover {
            background-color: #4788ff;
          }
        }
      }
    }
  }
}
