.catalog {
  &__nav {
    // position: relative;
    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 10px;

      background-color: #04358f;

      height: 52px;
      width: 234px;
      cursor: pointer;
      &:hover {
        background-color: #4788ff;
      }

      SVG {
        fill: #fff;
        stroke: #fff;
        width: 16px;
        height: 16px;
      }
      p {
        color: var(--color-li, #fff);
      }
    }
    &__block {
      display: none;
      &_item {
        position: absolute;
        // opacity: 0.55;
        background: var(--1-d-1-e-22, #1d1e22);
        width: 280px;
        z-index: 99;
      }
    }
    &_active {
      display: flex;
    }
  }
}
