.search {
  &__block {
    position: relative;
    width: 518px;
    height: 46px;
    display: flex;
    align-items: center;
    SVG {
      width: 18.5px;
      height: 18.5px;
    }
    &_searchSVG {
      position: absolute;
      fill: #fff;
      left: 14px;
    }
    &_search {
      width: 100%;
      height: 100%;
      padding: 0 40px;
    }
    &_search::placeholder {
      color: var(--6-e-7284, #6e7284);
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
    }
    &_close {
      position: absolute;
      right: 14px;
      cursor: pointer;
      background-color: inherit;
      &_closeSVG {
      }
    }
  }
}
