.swipers_top {
  width: 780px;
  height: 480px;
  border-radius: 12px;
}
.swipers_top .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3px;

  font-size: 15px;
  font-weight: 700;
  text-align: right;
  color: #7b7d87c3;

  width: 30px;
  left: auto;
  right: 68px;
  bottom: 28px;
}
.swipers_top .swiper-button-prev {
  top: auto;
  left: auto;
  right: 112px;
  bottom: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #8b919da3;
}
.swipers_top .swiper-button-prev::after {
  content: "";
  background-image: url("./btn_prev.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15px;
  height: 16px;
}

:root {
}
.swipers_top .swiper-button-next {
  top: auto;
  right: 20px;
  bottom: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #8b919da3;
}
.swipers_top .swiper-button-next::after {
  content: "";
  background-image: url("./btn_next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15px;
  height: 16px;
}
:root {
  /*
  --swiper-scrollbar-border-radius: 10px;
  --swiper-scrollbar-top: auto;
  --swiper-scrollbar-bottom: 4px;
  --swiper-scrollbar-left: auto;
  --swiper-scrollbar-right: 4px;
  --swiper-scrollbar-sides-offset: 1%;
  --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-size: 4px;
  */
}
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 6px;
  bottom: 0px;
  top: auto;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-vertical > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-vertical {
  position: absolute;

  left: 0;
  right: 0;
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: 100%;
  /* height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%)); */
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-scrollbar-lock {
  display: none;
}
