.card_item {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 520px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  position: relative;

  &_block_btn {
    position: absolute;
    left: auto;
    right: 20px;

    display: none;
    gap: 0 10px;

    button {
      width: 46px;
      height: 46px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 12px;
      border: 1px solid #dedfe7;
      background-color: #fff;
      cursor: pointer;
      &:hover {
        background-color: #f04716;
        border: 1px solid #f04716;
        SVG {
          fill: #f04716;
          stroke: #fff;
          // fill: #6af016;
        }
      }

      SVG {
        stroke: #f04716;
        fill: #fff;
        width: 22px;
        height: 22px;
        font-weight: 300;
      }
    }
  }
  &_img {
    height: 320px;
    background-position: center;
    background-size: cover;
    margin-block: auto;
  }
  &_link {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: #36383f;
    &:hover {
      color: #0a4ecb;
    }
  }
  &_block_priceBtn {
    width: 100%;
    margin: auto auto 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_price {
      display: flex;
      flex-direction: column;
      gap: 3px;

      &_discount {
        color: #a3a6b2;
        text-decoration: line-through;
      }
      &_price {
        font-size: 21px;
        color: #36383f;
      }
    }
    &_btn {
      button {
        width: 46px;
        height: 46px;
        background-color: inherit;
        border-radius: 12px;
        border: 1px solid #dedfe7;
        display: flex;
        align-items: center;
        justify-content: center;
        SVG {
          width: 20px;
          height: 20px;
        }
        cursor: pointer;
        &:hover {
          background-color: #f04716;
          border: 1px solid #f04716;
          SVG {
            fill: #f04716;
            stroke: #fff;
          }
        }
      }
    }
  }
  &:hover {
    .card_item_block_btn {
      display: flex;
    }
  }
}
