.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;

  @media (max-width: 600px) {
    width: 510px;
  }
  @media (max-width: 500px) {
    width: 410px;
  }
  @media (max-width: 420px) {
    width: 310px;
    height: 220px;
  }
  @media (max-width: 320px) {
    width: 280px;
    height: 180px;
  }
  @media (max-width: 320px) {
    width: 280px;
    height: 180px;
  }
  &_prevBtn,
  &_nextBtn {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #36383f6a;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;

    SVG {
      width: 6px;
      height: 12px;
      fill: #fff;
    }
  }

  &_prevBtn {
    left: 2%;
  }
  &_nextBtn {
    left: auto;
    right: 2%;
  }

  &_block_items {
    border-radius: 12px;
    width: 580px;
    height: 390px;
    overflow: hidden;
    position: relative;

    @media (max-width: 600px) {
      width: 500px;
      height: 310px;
    }
    @media (max-width: 500px) {
      width: 400px;
    }
    @media (max-width: 420px) {
      width: 300px;
      height: 220px;
    }
    @media (max-width: 320px) {
      width: 280px;
      height: 180px;
    }
    &__list {
      display: flex;
      position: absolute;
      transition: all 0.8s ease-out;
      &_item {
        width: 580px;
        height: 390px;
        position: relative;
        @media (max-width: 600px) {
          width: 500px;
          height: 310px;
        }
        @media (max-width: 500px) {
          width: 400px;
        }
        @media (max-width: 420px) {
          width: 300px;
          height: 220px;
        }
        img {
          width: 100%;
          height: 100%;
        }
        p {
          position: absolute;
          top: 90%;
          left: auto;
          right: 47%;
          bottom: auto;
          z-index: 99;
        }
      }
    }
  }
}

.swiper_two {
  margin: 20px auto 0;

  width: 580px;

  @media (max-width: 600px) {
    width: 500px;
  }
  @media (max-width: 500px) {
    width: 400px;
  }
  @media (max-width: 420px) {
    width: 280px;
  }
  &__list {
    position: relative;
    overflow: hidden;
    width: 580px;
    height: 87px;

    @media (max-width: 600px) {
      width: 500px;
    }
    @media (max-width: 500px) {
      width: 400px;
    }
    @media (max-width: 420px) {
      width: 280px;
    }
    &_items {
      position: absolute;
      display: flex;
      gap: 20px;
      transition: all 0.4s;
      &_item {
        position: relative;
        width: 130px;
        height: 87px;
        border-radius: 12px;
        img {
          border-radius: 12px;
          width: 100%;
          height: 100%;
        }
        p {
          position: absolute;
          top: 5px;
          left: auto;
          right: 5px;
          color: rgb(0, 0, 0);
          font-size: 12px;
        }
      }
      &_item_active {
        width: 128px;
        height: 85px;
        border: 1px solid rgb(0, 42, 255);
        p {
          font-weight: 600;
        }
      }
    }
  }
}
