.block {
  &__container {
    margin-top: 20px;
    border: 1px solid #969696;
    border-left: none;
    border-right: none;

    &_items + &_items {
      border-top: 1px solid #969696;
    }

    &_items {
      padding: 18px 0;
      position: relative;
      &_question {
        display: flex;
        align-items: center;
        justify-content: space-between;

        SVG {
          width: 16px;
          height: 16px;
        }
      }

      &_answer {
        position: absolute;
        margin-top: 20px;
        background-color: #e24c11;
        width: 420px;

        padding: 20px;
        border-radius: 12px;
        z-index: 10;
      }
    }
  }
}

.SVGActive {
  SVG {
    width: 10px;
    height: 10px;
    fill: #ee0f0f;
  }
}
