.block_price {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__input {
    display: flex;
    justify-content: space-between;

    &_min,
    &_max {
      display: flex;
      align-items: center;

      position: relative;
      width: 93px;
      height: 30px;
      background-color: #fff;
      border-radius: 12px;
      input {
        margin-left: 35px;
        width: 50px;
      }
    }

    &_min::before,
    &_max::before {
      content: "от";
      top: 6px;
      left: 8px;
      color: #a3a6b2;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      position: absolute;
    }
    &_max::before {
      content: "до";
    }
  }
  &_swipe {
  }
}
