.card_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;

  background-color: #ffffff;
  border-radius: 12px;

  position: relative;

  &_block_btn {
    position: absolute;
    left: auto;
    right: 20px;
    top: 20px;

    display: none;
    gap: 0 10px;

    &__cart,
    &__favorites {
      position: relative;
      width: 46px;
      height: 46px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 12px;
      border: 1px solid #dedfe7;
      background-color: #fff;
      cursor: pointer;

      &_add {
        stroke: #f04716;
        fill: #fff;
        width: 22px;
        height: 22px;
        font-weight: 300;
      }

      &_status {
        position: absolute;
        width: 8px;
        height: 8px;
        left: auto;
      }

      &:hover {
        background-color: #f04716;
        .card_item_block_btn__cart_add,
        .card_item_block_btn__favorites_add {
          fill: #f04716;
          stroke: #fff;
        }
      }
    }
    &__cart {
      &_status {
        left: auto;
        top: 16px;
        right: 12px;
      }
    }
    &__favorites {
      &_status {
        left: auto;
        top: 16px;
        right: 9px;
      }
    }
  }

  &_img {
    background-position: center;
    background-size: cover;
    margin-block: auto;
  }
  &_link {
    margin-top: 10px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: #36383f;
    &:hover {
      color: #0a4ecb;
    }
  }
  &_block_priceBtn {
    width: 85%;
    margin: auto auto 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_price {
      display: flex;
      flex-direction: column;
      gap: 3px;
      height: 46px;

      &_discount {
        color: #a3a6b2;
        text-decoration: line-through;
      }
      &_price {
        font-size: 21px;
        color: #36383f;
        margin: auto auto 0;
      }
    }
    &_btn {
      &_block {
        position: relative;
        width: 46px;
        height: 46px;
        background-color: inherit;
        border-radius: 12px;
        border: 1px solid #dedfe7;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &_cart {
          width: 20px;
          height: 20px;
        }
        &_status {
          position: absolute;
          width: 7px;
          height: 7px;
          left: auto;
          right: 13px;
          top: 15px;
        }
        &:hover {
          background-color: #f04716;
          .card_item_block_priceBtn_btn_block_cart {
            stroke: #ffffff;
          }
          #Union-1 {
            fill: #fffa2f;
          }
          #Union-2 {
            fill: #f04716;
          }
          .card_item_block_priceBtn_btn_block_status {
            #Union-1 {
              fill: #0a4ecb;
            }
          }
        }
      }
    }
  }
  &:hover {
    .card_item_block_btn {
      display: flex;
    }
  }
}
