.product {
  background-color: #f2f3f4;
  padding: 20px 0;
  &_block {
    display: flex;
    gap: 40px;

    &_info_card {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}
