.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  background-color: #f2f3f4c4;
  border: 1px solid #dedfe7;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
.swiper-button-prev::after {
  content: "";
  right: 0;
  background-image: url(./prev.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 6px;
  height: 12px;
}
.swiper-button-next::after {
  content: "";
  background-image: url(./next.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 6px;
  height: 12px;
}
