.block {
  &_page {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__info {
      width: 100%;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      gap: 40px;
      border-radius: 12px;

      h2,
      p {
        padding-left: 110px;
      }
      h2 {
        width: 550px;
        margin-top: 79px;
        font-weight: 900;
        font-size: 40px;
        line-height: 53px;
        background-image: linear-gradient(50deg, rgb(10, 78, 203), rgb(71, 136, 255) 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p {
        width: 625px;
      }
    }

    &__company {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      &_info {
        max-width: 500px;
        padding: 40px;
        padding-bottom: 54px;
        background-color: #fff;
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        gap: 26px;

        h2 {
          font-weight: 700;
          font-size: 31px;
          span {
            color: rgb(10, 78, 203);
          }
        }
        ul {
          max-width: 480px;

          li {
            position: relative;
            padding-left: 20px;
          }
          li + li {
            margin-top: 20px;
          }

          li::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: blue;
            border-radius: 50%;
            left: 2px;
            top: 10px;
          }
        }
      }

      &_privilege {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &_item {
          max-width: 580px;
          height: 140px;
          border-radius: 12px;

          display: flex;
          align-items: center;
          justify-content: center;

          p {
            max-width: 380px;
            text-align: center;
            font-weight: 700;
            line-height: 23px;
            color: #fff;
          }
        }
        &_item:nth-child(1) {
          background-color: #0a4ecb;
        }

        &_item:nth-child(2) {
          background-color: #f04716;
        }
      }
    }
  }
}
