.catalog {
  background-color: #f2f3f4;
  &__path {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    a {
      color: #0a4ecb;
      font-size: 12px;
    }

    span,
    p {
      font-size: 12px;
      color: #6e7284;
    }
    span {
      font-size: 8px;
    }
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #36383f;
    font-weight: 900;
    font-size: 40px;
  }

  &__product {
    display: flex;
    &_filter {
      width: 202px;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    &_card {
    }
  }
}
