.swiper_conteiner {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin-top: 60px;
  &_title {
    font-weight: 700;
    font-size: 31px;
    margin-bottom: 20px;
    color: #36383f;
  }
}
