:root {
  --colorBtn-hover: #4788ff;
  --color-backgr: #0a4ecb;
  --04358-f: #04358f;
  --color-Backgr2: #1d1e22;
  /* --color-Backgr3: #36383f; */
  --6-e-7284: #6e7284;
  --btn-hover-cart: #f04716;
  --dedfe-7: #dedfe7;
  --color-sale: #fffa2f;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  width: 100%;
}

a,
p,
button,
input,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  list-style: none;
  font-size: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1120px;
}
.container_product {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1332px;
}

.border {
  border-radius: 12px;
  border: 1px solid var(--dedfe-7, #dedfe7);
}

.catalog_1 {
  background-color: var(--color-Backgr2, #1d1e22);
}
.catalog_2 {
  background-color: var(--color-Backgr3, #4d4d4d);
}
.catalog_n {
  background-color: #000000;
}

.checkBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  input {
  }
  label {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #6e7284;
  }
}

.checkBoxActive {
  label {
    color: #252543;
  }
}
.filterTitle {
  color: #36383f;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 16px;
}

.filterCheckBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.filterCheckBoxItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
