body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

*,
a,
button,
input,
ul,
li {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  color: black;
  font-family: inherit;
  list-style: none;
  font-size: inherit;
}

.container {
  margin: 0 auto;
  width: 1180px;
}
