.card_info {
  position: sticky;
  top: 10px;
  height: 350px;
  p {
    font-weight: 400;
    color: rgb(54, 56, 63);
    line-height: 24px;
  }
  a {
    color: #0a4ecb;
    font-weight: 500;
    line-height: 24px;
    display: inline-block;
  }

  &_table {
    margin-top: 24px;

    table {
      padding-bottom: 15px;
      tr {
        th {
          text-align: start;
          vertical-align: top;
          line-height: 24px;
          font-size: 15px;
        }

        th:nth-child(odd) {
          font-weight: 400;
          color: #6e7284;
        }
        th:nth-child(even) {
          padding-left: 50px;
          font-weight: 500;
          color: #36383f;
        }
      }
    }
  }

  &_price {
    margin-top: 24px;
    display: flex;
    gap: 40px;
    p {
      display: inline-block;
    }

    p:nth-child(1) {
      color: #f04716;
      font-weight: 900;
      font-size: 40px;
      line-height: 53px;
    }

    p:nth-child(2) {
      color: #a3a6b2;
      font-weight: 500;
      font-size: 21px;
      line-height: 36px;
      text-decoration: line-through;
    }
  }
  &_color {
    margin-top: 30px;
  }
  &__order {
    margin-top: 34px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }

    // button 1
    &_add_basket {
      width: 260px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      background: linear-gradient(to left, rgb(255, 198, 47), rgb(240, 71, 22) 80%);
      &__ico {
        position: relative;
        width: 30px;
        height: 25px;
        &_cart {
          width: 22px;
          height: 22px;

          stroke: #fff;
        }
        &_status {
          position: absolute;
          top: 1px;
          left: auto;
          right: 2px;
          width: 12px;
          height: 12px;

          stroke: #f04716;
        }
      }
      p {
        font-weight: 500;
        line-height: 18px;
        color: #fff;
      }
    }

    &_add_basket:hover,
    &_quick_order:hover {
      transform: scale(1.1);
    }
    // button 2
    &_quick_order {
      border: 1px solid #f04716;
      height: 68px;
      width: 160px;
    }
  }
}
