.block {
  width: 720px;
  height: 200px;
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  gap: 40px;
  &__img {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 200px;

    // img {
    //   width: 100%;
    //   height: 100%;
    // }
  }

  &__info {
    width: 540;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_description {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      h3 {
      }

      &_text {
        color: #007aff;
        box-sizing: border-box;
        text-align: left;
        width: 540px;
        span {
          color: #646464;
          cursor: pointer;
        }
      }
    }

    &_buy {
      display: flex;
      justify-content: space-between;
      &_article {
        display: flex;
        align-items: end;
        gap: 16px;
      }
      &__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &_quantity {
          display: flex;
          align-items: center;
          gap: 16px;
          &_block {
            display: flex;
            align-items: center;
            gap: 2px;

            &_reduce,
            &_add {
              display: flex;
              background-color: #dedfe7;
              border-radius: 12px;
              width: 36px;
              height: 36px;
              justify-content: center;
              align-items: center;
              transition: all 0.5s ease-in-out;
              cursor: pointer;

              &:hover {
                background-color: #007aff;
                span {
                  color: #ffffff;
                }
              }
            }
            &_reduce {
              span {
                margin-top: -1px;
              }
            }
            p {
              display: inline-flex;

              justify-content: center;
              align-items: center;
              border: 1px solid #dedfe7;
              border-radius: 12px;
              width: 48px;
              height: 36px;
            }
            &_add {
            }
          }
        }
        &_price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &__block {
            &_price {
              color: #f04716;
              font-weight: 800;
              font-size: 18px;
            }
            &_discount {
              font-size: 13px;
              color: #6e7284;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}
